body {
    background: rgb(147, 100, 209);
    color: rgb(6,4,125);
    padding:10px;
    font-family: fantasy;
}
#all-contents {
    Max-width: 800px;
    margin: auto;
}
/*navigation menu*/
nav {
    background: rgb(47, 128, 69);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10%;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-li {
    display:inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}
/*main container area beneath menu*/
main {
    background: rgb(117, 167, 186);
    display: flex;
    margin-top: 20px;
    border: 3px solid;
    border-radius: 15%;
    border-color: maroon;
}
.sidebar {
    margin-right: 20px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
    border-radius: 25%;
    border: 5px solid;
    border-color: silver;
}
.content {
    flex: 1;
    padding: 15px;
}
/*interests section styles*/
#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px;
}
h2, h3 {
    margin: 0px;
}

/*portfolio styles*/

.content h1 {
    color:rgb(19, 34, 208);
}
#portfolio {
    list-style-type:none;
    padding-left: 0;
}
#portfolio li {
    Background: #2d5708;
    padding: 10px;
    border-radius: 10px;
    margin-bottom:10px;
}
#portfolio li:hover {
    background: #ae9ce5;
}
#portfolio a {
    text-decoration: none;
    color: #0febf3;
}
/*responcive web design*/
@media screen and (min-width:120px) and (max-width: 1080px) {
    main {
        height: 100ch;
        zoom: 1.5;
        display: grid;
    }
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 42px;
    }
    h3 {
        font-size: 36px;
    }
    #all-contents {
        height: 100ch;
        margin: none;
    }
    a {
        font-size: 42;
    }
    .sidebar {
        margin-right:0px;
        justify-content: center;
        align-items: center;
    }
    .sidebar-img {
        width: 100%;
    }
    p,
    li {
        font-size: 24px;
    }
    .content {
        align-content: center;
        justify-content: center;
    }
}