
body {
  background-color: darkorchid;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#PaddleL {
  background-color: RoyalBlue;
  width: 20px;
  height: 80px;
  position: absolute;
  left: 10px;   /* Uncomment if you want to set a "starting" position */
  top: 0px;    /* Uncomment if you want to set a "starting" position */
}
#PaddleR {
  background-color: tomato;
  width: 20px;
  height: 80px;
  position: absolute;
  left: 410px;   /* Uncomment if you want to set a "starting" position */
  top: 0px;    /* Uncomment if you want to set a "starting" position */
}
#Ball {
  background-color: goldenrod;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px dashed gold;
  position: absolute;
  left: 200px;   /* Uncomment if you want to set a "starting" position */
  top: 200px;     /* Uncomment if you want to set a "starting" position */
}
 #ScoreR {
  color: red;
  font-family: fantasy;
  font-size: 20px;
  height: 40px;
  position: absolute;
  left: 385px;
 }
  #ScoreL {
  color: blue;
  font-family: sans-serif;
  font-size: 20px;
  height: 40px;
  position: absolute;
  left: 10px;
 }
  #MatchPoint {
    color: rgb(238, 158, 238);
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 40px;
    height: 60px;
    left: 130px;
  }

   
